@import "../Dropbox/bulma/sass/utilities/_all";
@import "../Dropbox/bulma/sass/base/_all";
//@import "../Dropbox/bulma/sass/elements/_all";
//@import "../Dropbox/bulma/sass/components/_all";
//@import "../Dropbox/bulma/sass/grid/_all";
//@import "../Dropbox/bulma/sass/layout/_all";
//@import "../Dropbox/bulma/sass/utilities/animations.sass";
//@import "../Dropbox/bulma/sass/utilities/controls.sass";
//@import "../Dropbox/bulma/sass/utilities/derived-variables.sass";
//@import "../Dropbox/bulma/sass/utilities/functions.sass";
//@import "../Dropbox/bulma/sass/utilities/initial-variables.sass";
//@import "../Dropbox/bulma/sass/utilities/mixins.sass";
//@import "../Dropbox/bulma/sass/base/generic.sass";
//@import "../Dropbox/bulma/sass/base/helpers.sass";
//@import "../Dropbox/bulma/sass/base/minireset.sass";
@import "../Dropbox/bulma/sass/elements/box.sass";
//@import "../Dropbox/bulma/sass/elements/button.sass";
//@import "../Dropbox/bulma/sass/elements/container.sass";
//@import "../Dropbox/bulma/sass/elements/content.sass";
@import "../Dropbox/bulma/sass/elements/form.sass";
//@import "../Dropbox/bulma/sass/elements/icon.sass";
//@import "../Dropbox/bulma/sass/elements/image.sass";
//@import "../Dropbox/bulma/sass/elements/notification.sass";
//@import "../Dropbox/bulma/sass/elements/other.sass";
//@import "../Dropbox/bulma/sass/elements/progress.sass";
//@import "../Dropbox/bulma/sass/elements/table.sass";
//@import "../Dropbox/bulma/sass/elements/tag.sass";
//@import "../Dropbox/bulma/sass/elements/title.sass";
//@import "../Dropbox/bulma/sass/components/breadcrumb.sass";
//@import "../Dropbox/bulma/sass/components/card.sass";
//@import "../Dropbox/bulma/sass/components/dropdown.sass";
//@import "../Dropbox/bulma/sass/components/level.sass";
@import "../Dropbox/bulma/sass/components/media.sass";
//@import "../Dropbox/bulma/sass/components/menu.sass";
//@import "../Dropbox/bulma/sass/components/message.sass";
//@import "../Dropbox/bulma/sass/components/modal.sass";
//@import "../Dropbox/bulma/sass/components/nav.sass";
//@import "../Dropbox/bulma/sass/components/navbar.sass";
//@import "../Dropbox/bulma/sass/components/pagination.sass";
//@import "../Dropbox/bulma/sass/components/panel.sass";
//@import "../Dropbox/bulma/sass/components/tabs.sass";
@import "../Dropbox/bulma/sass/grid/columns.sass";
//@import "../Dropbox/bulma/sass/grid/tiles.sass";
//@import "../Dropbox/bulma/sass/layout/footer.sass";
//@import "../Dropbox/bulma/sass/layout/hero.sass";
//@import "../Dropbox/bulma/sass/layout/section.sass";

html, body{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
form{
	margin: 7vw;
}
hr{
	margin: 1rem 0;
}